<div class="comment" data-comment-id="<%= comment.id %>">
  <strong class="comment-author"><%= comment.author %></strong>
  <p class="comment-date">
    <i><%= comment.created_at %> | <%= link_to "Delete", comment, method: :delete, remote: true %></i>
  </p>
  <p class="comment-content"><%= comment.content %></p>
</div>
