<div class="container  <%= controller_name %>-<%= action_name %>">
  <h1 class="text-center"><%= @post.name %></h1>
  <p><%= @post.content %></p>
  <p><%= link_to("Download file", @post.file.url) if @post.file? %></p>
  <p class="links">
    <%= link_to "Back", @post.category %> | 
    <%= link_to "Edit", edit_category_post_path(@post.category, @post) %> | 
    <%= link_to "Delete", category_post_path(@post.category, @post), method: :delete, data: {confirm: "Do you realy want to delete this post?"} %>
  </p>
  <div class="comments">
    <%= render @post.comments if @post.comments.present? %>
  </div>
  <p><%= link_to "Add comment", "#", class: "add-comment" %></p>
  <%= render "comments/form", object: @comment = @post.comments.build %>
</div>
